.weather {
  position: relative;
  margin: auto;
}

.weather__info {
  position: absolute;
  top: 20px;
  left: 16px;
  color: white;
  font-size: 36px;
}

.weather__image {
  width: 100vw;
  border-radius: 12px;
}

.weather__container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}
