.App {
  font-family: CabinetGrotesk-Bold, CabinetGrotesk-Regular, Arial, Helvetica,
    sans-serif;
}

.weather {
  position: relative;
}

.weather__info {
  position: absolute;
  top: 12px;
  left: 16px;
  color: white;
  font-size: 36px;
}

.weather__image {
  width: 100%;
}

.main {
  padding: 0 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
}
