.app {
  font-family: CabinetGrotesk-Bold, CabinetGrotesk-Regular, Arial, Helvetica,
    sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
